.centerFixed{
    display:flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
    margin-top: 50px;
    
}

.fixed {
    display: flex;
    justify-content: center;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.form{
    margin-top: 20px;
}

.row{
margin-top: 20px;
}